body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #000;
}

canvas {
    border: 1px solid #fff;
}

#menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
